
*.log

*.sqlite-*
*.bak
*.tmp
*.rptdesign
*.wsdl
*.xltm
*.xls



EnergyMonitoring/colorDB/.colorDB.lock

EnergyMonitoring/data/xls_report/Report.cmd
EnergyMonitoring/data/xls_report/Report.mdb
EnergyMonitoring/data/Reporting/Templates/InformationServer/WinCC_OA_LineChart.rdl
EnergyMonitoring/data/Reporting/Templates/InformationServer/WinCC_OA_AlarmTable.rdl
EnergyMonitoring/data/Reporting/Templates/BIRT/localization.properties
EnergyMonitoring/data/Reporting/Templates/BIRT/localization_de_AT.properties

EnergyMonitoring/db/wincc_oa/localdb/*